<template>

    <div class="mb-6">
        <label :for="label" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
            {{label}}
        </label>
        <input
                :type="typeInput"
                :id="label"
                class="bg-gray-50 border border-gray-300 outline-none text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                :placeholder="placeholder"
                @input="$emit('update:value',$event.target.value)"
                required
        />
    </div>
</template>

<script lang="ts">
import {defineComponent, PropType} from "vue";

type InputType = 'password' | 'text'
const BaseInput = defineComponent({
	props: {
		typeInput: {
			type: String as PropType<InputType>
		},
		value: {
			type: String,
		},
		placeholder: {
			type: String,
			default: ''
		},
		requiredInput: {
			type: Boolean,
			default: false
		},
		label: {
			type: String,
			default: ''
		},
	}
})
export default BaseInput
</script>
