<template>
    <div class="upload">
        <label for="upload"
               class="px-3 border border-dashed border-blue-200 flex rounded-lg text-blue-500 py-1 cursor-pointer"
        >
            <upload-icon class="h-7"/>
        </label>
        <input id="upload" style="display: none" class="" multiple @change="$emit('onUpload',$event)" type="file">
    </div>
</template>

<script lang="ts">
import {UploadIcon} from "@heroicons/vue/outline";
import {defineComponent} from "vue";

const BaseUpload = defineComponent({
	components: {
		UploadIcon
	},
	setup() {
	}
})
export default BaseUpload
</script>
