<template>
    <div class="flex items-center gap-3">
        <label for="countries" class="block text-sm font-medium text-gray-900 dark:text-gray-400">
            Sort By:
        </label>
        <select @change="selectHandler($event)"
                id="countries"
                class="bg-gray-50 w-24 outline-none appearance-none border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block px-4 py-2">
            <option v-for="option of options" :value="option.id">
                {{ option.label }}
            </option>
        </select>
    </div>
</template>

<script setup lang="ts">
interface Option {
	value: string,
	label: string
}

interface Props {
	options: Option[],
	modelValue: string | null
}

const emit = defineEmits<{
	(update: 'update:modelValue', value: string | null): void
}>()

const {options, modelValue} = defineProps<Props>()
const selectHandler = (e: Event) => {
	const eventValue = (e.target as HTMLInputElement).value
	emit('update:modelValue', eventValue)
}
</script>

<style>
select {
  appearance: none;
  background-image: url("../assets/images/svg/select-icon.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 90% center;
}
</style>
