<template>
    <button
            class="text-white focus:ring-4 font-medium rounded-xl border text-sm px-3 py-2  text-center inline-flex items-center"
            :class="{
                'text-blue-700 hover:text-white border-blue-700 hover:bg-blue-800 focus:ring-blue-300':variant === 'primary',
                'text-red-600 hover:text-white border-red-600 hover:bg-red-600 focus:ring-red-300':variant === 'danger',
                'text-yellow-500 hover:text-white border-yellow-500 hover:bg-yellow-500 focus:ring-yellow-300':variant === 'warning',
                'text-green-500 hover:text-white border-green-500 hover:bg-green-500 focus:ring-green-300':variant === 'success',
                'text-gray-500 hover:text-white hover:text-gray-900 border-gray-200 hover:bg-gray-100 focus:ring-gray-300':variant === 'base',
                'w-full justify-center':full
            }"
    >
        <slot></slot>
    </button>
</template>

<script lang="ts">
import {defineComponent, PropType} from "vue";

type ButtonType = 'btn' | 'submit'
type VariantType = 'primary' | 'danger' | 'warning' | 'success' | 'base'

const BaseButton = defineComponent({
	props: {
		typeButton: {
			type: String as PropType<ButtonType>,
			default: 'btn'
		},
		variant: {
			type: String as PropType<VariantType>,
		},
		full: {
			type: Boolean
		}
	}
})
export default BaseButton
</script>
