<template>
    <form @submit.prevent="createFolderHandler" class="mt-4 w-96">
        <base-input
                v-model:value="folderName"
                required-input type-input="text"
                placeholder="New Directory"
                label="Directory Name"
        />
        <div class="flex gap-1 mt-4 justify-start">
            <base-button variant="primary" type-button="submit">
                <transition name="fade">
                    <loader v-if="loading" color="blue"/>
                </transition>
                Create
            </base-button>
            <base-button @click="$emit('onCloseModal')" variant="danger" type-button="btn">
                Cancel
            </base-button>
        </div>
    </form>
</template>

<script lang="ts">
import {defineComponent, ref} from "vue";
import TheModal from "@/components/TheModal.vue";
import BaseInput from "@/components/BaseInput.vue";
import BaseButton from "@/components/BaseButton.vue";
import {useStore} from "vuex";
import Loader from "@/components/Loader.vue";
import {useToast} from "vue-toastification"

const CreateDirectoryForm = defineComponent({
	components: {Loader, BaseButton, BaseInput, TheModal},
	emits: ['onCloseModal'],
	setup(props, {emit}) {
		const folderName = ref<string>("New Directory")
		const loading = ref<boolean>(false)
		const store = useStore()
		const toast = useToast()
		const createFolderHandler = async () => {
			try {
				loading.value = true
				const currentDirectory = store.state.file.parents[store.state.file.parents.length - 1]
				const payload = {
					name: folderName.value,
					type: 'dir',
					parent: currentDirectory?._id
				}
				await store.dispatch("createFolder", payload)
				await store.dispatch("fetchFiles", currentDirectory?._id)
				emit('onCloseModal')
                toast.success(`${payload.name} is created`,{
					timeout:2000
                })
			} catch (e) {
				console.log(e)
				toast.error(e.response.data.message)
			} finally {
				loading.value = false
			}

		}

		return {
			folderName,
			createFolderHandler,
			loading
		}
	}
})
export default CreateDirectoryForm
</script>
