<template>
    <base-select
            v-model="getValue"
            :options="getOptions"
    />
</template>

<script setup lang="ts">
import BaseSelect from "@/components/BaseSelect.vue";
import {computed, watch} from "vue";
import {useStore} from "vuex";
import {useFile} from "@/hooks/file.hooks";

const store = useStore()
const getValue = computed<string>({
	get: () => store.state.sort.value,
	set: (value) => {
		store.commit('SET_SORT_VALUE', value)
	}
})
const {currentDir} = useFile()

watch(getValue, () => {
	store.dispatch("fetchFiles", currentDir.value?._id)
})
const getOptions = computed(() => store.state.sort.options)

</script>
