<template>
    <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 dark:bg-gray-800">
        <div class="container flex flex-wrap justify-between items-center mx-auto">
            <router-link to="/" class="flex">
                <svg class="mr-3 h-10" viewBox="0 0 52 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.87695 53H28.7791C41.5357 53 51.877 42.7025 51.877 30H24.9748C12.2182 30 1.87695 40.2975 1.87695 53Z"
                          fill="#76A9FA"/>
                    <path d="M0.000409561 32.1646L0.000409561 66.4111C12.8618 66.4111 23.2881 55.9849 23.2881 43.1235L23.2881 8.87689C10.9966 8.98066 1.39567 19.5573 0.000409561 32.1646Z"
                          fill="#A4CAFE"/>
                    <path d="M50.877 5H23.9748C11.2182 5 0.876953 15.2975 0.876953 28H27.7791C40.5357 28 50.877 17.7025 50.877 5Z"
                          fill="#1C64F2"/>
                </svg>
                <span class="self-center text-lg font-semibold whitespace-nowrap dark:text-white">MeBox</span>
            </router-link>
            <div class="justify-between items-center w-full md:flex md:w-auto md:order-1">
                <router-link to="/profile" class="avatar cursor-pointer flex items-center gap-2">
                    <h4 v-if="getUser" class="text-sm font-medium text-gray-600"> {{ getUser.email }} </h4>
                    <div v-if="getUser" class="relative w-10 h-10 rounded-full cursor-pointer focus:ring-4 ring-red-500">
                        <user-circle-icon v-if="!getUser.avatar" class="w-full text-blue-800"/>
                        <img v-else class="w-auto h-10 rounded-full" :src="`${getUrl}${getUser.avatar}`" :alt="getUser.email">
                    </div>
                </router-link>
            </div>
        </div>
    </nav>
</template>

<script lang="ts">
import {computed, defineComponent, ref} from "vue";
import {LinkInterface} from "@/interfaces/the-header.interface";
import TheSearch from "@/components/TheSearch.vue";
import {CloudUploadIcon} from "@heroicons/vue/outline";
import {UserCircleIcon} from "@heroicons/vue/solid";
import BaseButton from "@/components/BaseButton.vue";
import {useStore} from "vuex";
import {AuthorizedUser} from "@/interfaces/auth.interface";
import {API_URL} from "@/config/base.config";

const TheHeader = defineComponent({
	components: {BaseButton, TheSearch, CloudUploadIcon, UserCircleIcon},
	setup() {
		const store = useStore()
        const getUrl = computed(()=>API_URL)
		const getUser = computed<AuthorizedUser>(() => store.state.auth.user)
		const links = ref<LinkInterface[]>([
			{id: '1', route: '/', title: 'Service'},
			{id: '2', route: '/', title: 'About'},
			{id: '3', route: '/', title: 'Contact'},
		])
		return {links, getUser,getUrl}
	}
})

export default TheHeader
</script>
