<template>
    <transition name="fade">
        <div v-if="visible"
             @click="hideModal"
             class="w-screen flex fixed top-0 left-0 items-center justify-center flex-col h-screen bg-opacity-40 bg-gray-700"
        >
            <div @click.stop class="bg-white rounded py-4">
                <div class="px-4">
                    <slot>
                    </slot>
                </div>
            </div>
        </div>
    </transition>
</template>

<script lang="ts">
import {defineComponent} from "vue";
import BaseInput from "@/components/BaseInput.vue";

const TheModal = defineComponent({
	components: {BaseInput},
	props: {
		title: {
			type: String
		},
		visible: {
			type: Boolean,
			default: false
		}
	},
	setup(props, {emit}) {
		const hideModal = () => {
			emit('update:visible', false)
		}
		return {hideModal}
	}
})
export default TheModal
</script>
