<template>
    <form @submit.prevent class="flex">
        <div class="hidden relative mr-3 w-full md:mr-0 md:block">
            <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                <svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                          clip-rule="evenodd">
                    </path>
                </svg>
            </div>
            <input type="text"
                   id="email-adress-icon"
                   @input="searchInput"
                   v-model="search"
                   class="block outline-none p-2 pl-10 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   placeholder="Search..."
            />
        </div>
    </form>
</template>

<script lang="ts">
import {defineComponent, ref} from "vue";
import {useStore} from "vuex";

const TheSearch = defineComponent({
	setup() {
		const search = ref<string>("")
		const timeOut = ref<null | number>(null)
		const store = useStore()
		const searchInput = async () => {
			if (timeOut.value) {
				clearTimeout(timeOut?.value)
			}
			if (search.value) {
				timeOut.value = setTimeout((value: string) => {
					store.dispatch("searchFiles", value)
					console.log(value)
				}, 500, search.value)
			} else {
				await store.dispatch("fetchFiles")
			}
		}
		return {search, searchInput}
	}
})
export default TheSearch
</script>

