<template>
    <transition name="fade">
        <div v-if="getVisibleUpload" class="upload md:w-96 md:h-96 p-4 rounded border bg-white fixed bottom-1 right-1">
            <div @click="closeUploadHandler" class="text-red-500 cursor-pointer close absolute right-4 top-4">
                <x-circle-icon class="h-7"/>
            </div>
            <div class="files flex flex-col gap-3 relative top-10">
                <div v-for="file in getUploadFiles" :key="file.id" class="file gap-1 w-full relative">
                    <span class="">{{ file.name }}</span>
                    <div class="progress rounded relative shadow w-full overflow-hidden h-4 bg-gray-500">
                        <div :style="{width:file.progress + '%'}"
                             class="main transition-all bg-gradient-to-r from-green-400 to-green-500 h-full">
                        </div>
                        <p class="text-xs percen absolute text-white top-0 left-1/2"> {{ file.progress }} %</p>
                    </div>
                    <span @click="removeUploadFileHandler(file)"
                          class="text-red-500 cursor-pointer absolute right-0 top-0">
                    <x-circle-icon class="h-5"/>
                </span>
                </div>
            </div>
        </div>
    </transition>
</template>

<script lang="ts">
import {XCircleIcon} from "@heroicons/vue/solid";
import {defineComponent, watch} from "vue";
import {useUpload} from "@/hooks/upload.hooks";

const UploadBar = defineComponent({
	components: {
		XCircleIcon
	},
	setup() {
		const {
			getVisibleUpload,
			getUploadFiles,
			removeUploadFileHandler,
			closeUploadHandler
		} = useUpload()

		watch(getUploadFiles, (files) => {
			if (!files.length) {
				closeUploadHandler()
			}
		})

		return {
			getVisibleUpload,
			getUploadFiles,
			removeUploadFileHandler,
			closeUploadHandler
		}
	}
})
export default UploadBar
</script>
