<template>
    <figure class="p-4 md:w-3/6 lg:w-3/12 w-5/6 bg-white rounded-lg border border-gray-200 shadow-md sm:p-6 lg:p-8">
        <form class="space-y-6" @submit.prevent="signInHandler">
            <h3 class="text-xl font-medium text-gray-900 dark:text-white">Sign in to our platform</h3>
            <base-input
                    label="Email"
                    placeholder="test@test.com"
                    v-model:value="email"
                    type-input="text"
                    required-input
            />
            <base-input
                    label="Password"
                    placeholder="Password"
                    v-model:value="password"
                    type-input="password"
                    required-input
            />
            <base-button  full type-button="submit" variant="primary">
                Login to your account
            </base-button>
            <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                Not registered? <router-link to="register" class="text-blue-700 hover:underline dark:text-blue-500">Create account</router-link>
            </div>
        </form>
    </figure>
</template>

<script lang="ts">
import {defineComponent} from "vue";
import BaseInput from "@/components/BaseInput.vue";
import BaseButton from "@/components/BaseButton.vue";
import {useAuth} from "@/hooks/auth.hooks";

const AuthLogin = defineComponent({
	components: {BaseButton, BaseInput},
	setup() {
		const {email, password, signInHandler} = useAuth();
		return {email, password, signInHandler};
	},
});
export default AuthLogin;
</script>
