<template>
    <figure class="p-4 md:w-3/6 lg:w-3/12 w-5/6 bg-white rounded-lg border border-gray-200 shadow-md sm:p-6 lg:p-8">
        <form class="space-y-6" @submit.prevent="signUpHandler">

            <h3 class="text-xl font-medium text-gray-900 dark:text-white">Sign up to our platform</h3>

            <base-input
                    v-model:value="email"
                    label="Email"
                    placeholder="test@test.com"
                    required-input
                    type-input="text"
            />
            <base-input
                    v-model:value="password"
                    label="Password"
                    placeholder="Password"
                    required-input
                    type-input="password"
            />
            <base-input
                    v-model:value="repeatPassword"
                    label="Repeat Password"
                    placeholder="Repeat Password"
                    required-input
                    type-input="password"
            />
            <base-button full type-button="submit" variant="primary">
                Create your account
            </base-button>
            <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                Already have account?
                <router-link class="text-blue-700 hover:underline dark:text-blue-500" to="login">Sign In</router-link>
            </div>
        </form>
    </figure>
</template>

<script lang="ts">
import {defineComponent} from "vue";
import BaseInput from "@/components/BaseInput.vue";
import BaseButton from "@/components/BaseButton.vue";
import {useAuth} from "@/hooks/auth.hooks";

const AuthRegister = defineComponent({
	components: {BaseButton, BaseInput},
	setup() {
		const {email, password, repeatPassword, signUpHandler} = useAuth()
		return {
			email,
			password,
			repeatPassword,
			signUpHandler
		}
	}
})
export default AuthRegister
</script>
