<template>
    <tr @dblclick="file.type === 'dir' && $emit('onChangeParent',file)"
        class="hover:bg-gray-100 dark:hover:bg-gray-700">
        <td v-for="label of labels" :key="label.id"
            class="py-4 px-6 space-x-1 item text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
            <div class="flex gap-1 items-center">
                <component v-if="label.id === 'name'"
                           :is="getIcon(file.type).icon"
                           class="h-6 my-auto inline-block"
                           :class="getIcon(file.type).color||''"
                />
                <span v-if="label.id !== 'date'"
                      :title="file[label.id].length >= 20 ? file[label.id]:''"
                      class="whitespace-nowrap my-auto overflow-hidden overflow-ellipsis w-8/12"
                >
                    {{ label.id !== 'size' ? file[label.id] : formatBytes(file[label.id]) }}
                </span>
                <span v-else
                      class="whitespace-nowrap overflow-hidden overflow-ellipsis w-8/12"
                >
                    {{ file[label.id].split("").splice(0, 10).join("") }}
                </span>
            </div>
        </td>
        <td class="py-4 px-6 text-xs font-medium text-right whitespace-nowrap">
            <div class="flex gap-2">
                <span @click="$emit('onDelete',file)"
                      class="text-red-600 p-2 hover:bg-red-100 rounded-3xl cursor-pointer hover:underline">
                    <trash-icon class="h-4"/>
                </span>
                <span v-if="file.type !== 'dir'"
                      @click="$emit('onDownload',file)"
                      class="text-green-600 p-2 rounded-3xl hover:bg-green-100 cursor-pointer hover:underline">
                    <download-icon class="h-4"/>
                </span>
            </div>
        </td>
    </tr>
</template>

<script lang="ts">
import {defineComponent, PropType} from "vue";
import {FileInterface} from "@/interfaces/file.interface";
import {DocumentIcon, DocumentTextIcon, FolderIcon, PhotographIcon, RefreshIcon,ArchiveIcon} from "@heroicons/vue/solid";
import {DownloadIcon, TrashIcon} from "@heroicons/vue/outline";
import {useFormat} from "@/hooks/format.hooks";
import BaseButton from "@/components/BaseButton.vue";
import {labelInterface} from "@/interfaces/label.interface";
import {getIcons} from "@/config/icon.config";

const File = defineComponent({
	components: {
		BaseButton,
		FolderIcon,
		DocumentTextIcon,
		RefreshIcon,
		DownloadIcon,
		TrashIcon,
		DocumentIcon,
		PhotographIcon,
		ArchiveIcon
	},
	props: {
		file: {
			type: Object as PropType<FileInterface>
		},
		labels: {
			type: Array as PropType<labelInterface[]>
		}
	},
	setup() {
		const {formatBytes} = useFormat()
		const getIcon = (id: string) => {
			return getIcons().find(item => item.id === id) || {icon: 'document-icon'}
		}
		return {formatBytes, getIcon}
	}
})
export default File
</script>
<style lang="scss" scoped>
.actions {
  visibility: hidden;
  opacity: 0;
}

.file__content__full-text {
  visibility: hidden;
  opacity: 0;
}

.file__content:hover {
  .file__content__full-text {
    visibility: visible;
    opacity: .9;
  }
}

.file:hover {
  .actions {
    visibility: visible;
    opacity: 1;
  }
}
</style>
