<script setup lang="ts">
import {ref} from "vue";
import {FileInterface} from "@/interfaces/file.interface";
import File from "@/components/Files/File.vue";
import {useFile} from "@/hooks/file.hooks";
import {useStore} from "vuex";
import {labelInterface} from "@/interfaces/label.interface";
import Loader from "@/components/Loader.vue";

defineProps<{
	files: FileInterface[] | null,
	loading: boolean
}>()

const emit = defineEmits<{
	(e: "onChangeParent", parent: FileInterface): void,
	(e: "onDeleteFile", file: FileInterface): void
}>()

const isDraggable = ref<boolean>(false)
const {currentDir, downloadHandler} = useFile()
const store = useStore()
const labels = ref<labelInterface[]>([
	{id: 'name', label: 'Name'},
	{id: 'type', label: 'Type'},
	{id: 'date', label: 'Date'},
	{id: 'size', label: 'Size'},
])
const emitParentHandler = (parent: FileInterface) => {
	emit("onChangeParent", parent)
}
const deleteHandler = (file: FileInterface) => {
	emit("onDeleteFile", file)
}
const dragEnterHandler = () => {
	isDraggable.value = true
}
const dropHandler = async (event: DragEvent): Promise<void> => {
	const files = [...(event.dataTransfer as DataTransfer).files || []]
	const currentDirId = currentDir.value?._id
	for (const file of files) {
		const payload = {
			currentDirId,
			file
		}
		await store.dispatch("uploadFile", payload)
	}
	await store.dispatch("fetchFiles", currentDirId)
	isDraggable.value = false
}
const dragLeaveHandler = () => {
	isDraggable.value = false
}
</script>

<template>
    <div class="flex flex-col"
         @dragstart.prevent="dragEnterHandler"
         @dragover.prevent="dragEnterHandler"
         @dragleave.prevent="dragLeaveHandler"
         @drop.prevent="dropHandler"
    >
        <div class="overflow-x-auto shadow sm:rounded-lg">
            <div class="inline-block min-w-full align-middle">
                <div class="overflow-hidden ">
                    <table v-if="!isDraggable"
                           class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-700">
                        <thead class="bg-gray-100 dark:bg-gray-700">
                        <tr>
                            <th v-for="label of labels" :key="label.id" scope="col"
                                class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400"
                            >
                                {{ label.label }}
                            </th>
                            <th scope="col" class="p-4">
                                <span class="sr-only">Action</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody key="files"
                               v-if="files && files.length"
                               class="bg-white relative divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700"
                        >
                        <file v-for="file in files"
                              @onDelete="deleteHandler"
                              @onChangeParent="emitParentHandler"
                              :key="file._id"
                              :file="file"
                              :labels="labels"
                              @onDownload="downloadHandler"
                        />
                        <transition name="fade">
                            <div v-if="loading"
                                 class="loading flex flex-col items-center justify-center absolute left-0 top-0 bg-gray-100 bg-opacity-60 bottom-0 right-0">
                                <loader color="blue"/>
                            </div>
                        </transition>
                        </tbody>
                        <tbody key="empty" class="h-32 relative" v-else>
                        <h2 class="absolute w-full top-10 m-auto font-medium text-gray-300 text-center">
                            Files not found
                        </h2>
                        </tbody>
                    </table>
                    <div key="drag" v-else
                         class="w-full font-semibold h-96 bg-indigo-50 text-indigo-600 border-dashed border-2 border-indigo-200 text-2xl flex flex-col items-center justify-center"
                    >
                        Drag file Here
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
