<script lang="ts" setup>
import {computed, ref} from "vue";
import {LogoutIcon} from "@heroicons/vue/outline";
import TheSideBarLink from "@/components/TheSideBar/TheSideBarLink.vue"
import {useStore} from "vuex";
import {useRouter} from "vue-router";
import {useFormat} from "@/hooks/format.hooks";

interface SideBarLink {
  readonly id: string,
  path: string,
  label: string,
  icon: string
}

const links = ref<SideBarLink[]>([])
const store = useStore()
const router = useRouter()
const {formatBytes} = useFormat()
const usedSpace = computed(() => store.state.auth.user?.usedSpace)
const diskSpace = computed(() => store.state.auth.user?.diskSpace)
const getPercent = computed(() => usedSpace.value / diskSpace.value * 100)

const logoutHandler = async (): Promise<void> => {
  store.commit('CLEAR_AUTH')
  await router.push("/auth/login")
}
</script>

<template>
  <aside class="w-full mt-2 flex flex-col text-sm h-full items-center">
    <ul class="w-full">
      <li v-for="link in links" :key="link.id">
        <the-side-bar-link :link="link"/>
      </li>
      <li>
                <span
                    class="flex cursor-pointer items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
                    @click="logoutHandler"
                >
                    <logout-icon
                        class="flex-shrink-0 w-6 h-6 text-red-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                    />
                    <span class="flex-1 ml-3 whitespace-nowrap">
                        Logout
                    </span>
                </span>
      </li>
    </ul>
    <div class="w-full px-1 mt-4">
      <div class="flex justify-between mb-1">
        <span class="text-base font-medium text-blue-700 dark:text-white">Memory</span>
        <span class="text-sm font-medium text-blue-700 dark:text-white">
                    {{ formatBytes(usedSpace) + '/' + formatBytes(diskSpace) }}
                </span>
      </div>
      <div class="w-full bg-gray-200 overflow-hidden rounded-xl h-2.5 dark:bg-gray-700">
        <div :style="{width: getPercent + '%'}" class="bg-blue-600 h-2.5"></div>
      </div>
    </div>
  </aside>
</template>
