<script setup lang="ts">
import {CogIcon, HomeIcon, TrashIcon} from "@heroicons/vue/outline";

interface SideBarLink {
	readonly id: string,
	path: string,
	label: string,
	icon: string
}
// Is not use. This is need for not deleting icons when i format current file
const icons = () => ({
	CogIcon,
	HomeIcon,
	TrashIcon
})

defineProps<{
	link: SideBarLink
}>()
</script>


<template>
    <router-link
            :to="link.path"
            active-class="hover:bg-gray-200"
            class="flex cursor-pointer items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100"
    >
        <component
                :is="link.icon"
                class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900"
        />
        <span class="flex-1 ml-3 whitespace-nowrap">
                    {{ link.label }}
        </span>
    </router-link>
</template>
