<template>
    <div class="bg-gray-100 w-screen h-screen flex flex-col justify-center items-center">
        <slot></slot>
    </div>
</template>

<script setup lang="ts">
</script>

<style scoped>
</style>
