<template>
    <div id="app" class="flex flex-col bg-gradient-to-r from-white to-gray-50 min-h-screen">
        <the-header/>
        <div class="container mx-auto justify-between gap-10 grid md:grid-cols-12">
            <div class="md:col-span-2">
                <the-side-bar/>
            </div>
            <main class="md:col-span-10">
                <slot></slot>
            </main>
        </div>
        <footer class="mt-auto">
        </footer>
    </div>
</template>

<script lang="ts" setup>
import TheHeader from '@/components/TheHeader.vue'
import TheSideBar from "@/components/TheSideBar/index.vue"
</script>
