<template>
    <component :is="getLayout">
        <router-view/>
    </component>
</template>
<script lang="ts">
import {computed, defineComponent} from "vue";
import Base from "@/layouts/base.vue";
import Auth from "@/layouts/auth.vue";
import {useRoute} from "vue-router";

const App = defineComponent({
	components: {Auth, Base},
	setup() {
		const route = useRoute()
		const getLayout = computed(() => {
			return route.meta.layout || 'base'
		})
		return {getLayout}
	}
})
export default App
</script>
