<script setup lang="ts">
import Files from "@/components/Files/index.vue"
import {onMounted, ref, watch} from "vue";
import BaseButton from "@/components/BaseButton.vue";
import {useDeleteFile, useFile, useOptions, useUploadFile} from "@/hooks/file.hooks";
import TheModal from "@/components/TheModal.vue";
import {ChevronLeftIcon,PlusIcon} from "@heroicons/vue/outline";
import CreateDirectoryForm from "@/components/CreateDirectoryForm.vue";
import BaseUpload from "@/components/BaseUpload.vue";
import {useStore} from "vuex";
import UploadBar from "@/components/UploadBar.vue"
import SortFiles from "@/components/SortFiles.vue";
import TheSearch from "@/components/TheSearch.vue"
import Loader from "@/components/Loader.vue";

const icons = () => ({
	ChevronLeftIcon,
	PlusIcon
})

const visible = ref<boolean>(false)
const store = useStore()
const {getFiles, currentDir, loading} = useFile()
const {deleteHandler, deleteModal, getDeletingFile, acceptDeleteHandler, loadingBtn} = useDeleteFile()
const {goBackHandler, changeParentHandler} = useOptions()
const {uploadHandler} = useUploadFile()

watch(currentDir, async (): Promise<void> => {
	loading.value = true
	const currentFileId = currentDir.value?._id
	await store.dispatch("fetchFiles", currentFileId)
	loading.value = false
})
onMounted(async (): Promise<void> => {
	try {
		loading.value = true
		await store.dispatch('fetchFiles')
	} catch (e) {
		console.log(e)
	} finally {
		loading.value = false
	}
})
</script>

<template>
    <div class="home w-full">
        <div class="top flex justify-between items-center gap-4 my-2">
            <div>
                <div v-if="currentDir"
                     @click="goBackHandler"
                     class="flex px-2 rounded cursor-pointer items-center gap-1"
                >
                    <div>
                        <chevron-left-icon
                                class="h-5 text-gray-500"
                        />
                    </div>
                    <p class="text-gray-500"> {{ currentDir.name }} </p>
                </div>
                <div v-else
                     @click="goBackHandler"
                     class="flex px-2 rounded cursor-pointer items-center gap-1"
                >
                    <p class="text-gray-500"> Main </p>
                </div>
            </div>
            <div class="flex items-center gap-4 my-2">
                <sort-files/>
                <the-search/>
                <base-button
                        @click="visible = true"
                        variant="base"
                        class="flex gap-1 items-center"
                >
                    New Folder
                    <plus-icon class="h-4 inline-block"/>
                </base-button>
                <base-upload @onUpload="uploadHandler"/>
            </div>
        </div>
        <files :loading="loading"
               class="mt-4"
               :files="getFiles"
               @onChangeParent="changeParentHandler"
               @onDeleteFile="acceptDeleteHandler"
        />
        <the-modal title="Create Directory" v-model:visible="visible">
            <create-directory-form
                    @onCloseModal="visible = false"
            />
        </the-modal>
        <the-modal title="Delete" v-model:visible="deleteModal">
            <!-- Modal body -->
            <div class="p-6 pt-0 text-center">
                <svg class="mx-auto mb-4 w-14 h-14 text-gray-400 dark:text-gray-200" fill="none" stroke="currentColor"
                     viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to delete
                    {{ getDeletingFile.name }}?</h3>
                <div class="space-x-2">
                    <base-button @click="deleteHandler" variant="danger">
                        <loader v-if="loadingBtn" color="red"/>
                        Yes, I'm sure
                    </base-button>
                    <base-button
                            @click="deleteModal = false"
                            variant="base">
                        No, cancel
                    </base-button>
                </div>
            </div>
        </the-modal>
        <upload-bar/>
    </div>
</template>
