<script setup lang="ts">
import {useStore} from "vuex";
import {computed} from "vue";
import {AuthorizedUser} from "@/interfaces/auth.interface";
import {useFormat} from "@/hooks/format.hooks";
import {UserCircleIcon} from "@heroicons/vue/solid";
import BaseButton from "@/components/BaseButton.vue";
import {API_URL} from "@/config/base.config";

const getUser = computed<AuthorizedUser>(() => store.state.auth.user);
const store = useStore();
const {formatBytes} = useFormat();
const uploadAvatarChange = async (e: Event) => {
	const file: File = (e.target as HTMLInputElement).files![0]
	await store.dispatch("uploadAvatar", file);
};
const deleteAvatarHandler = async () => {
	await store.dispatch("deleteAvatar");
};
</script>

<template>
    <div class="profile mr-3 mt-4">
        <div class="avatar">
            <div class="avatar flex items-center gap-1">
                <figure class="relative w-20 h-20 rounded-full cursor-pointer focus:ring-4 ring-red-500">
                    <UserCircleIcon v-if="!getUser.avatar" class="h-20 text-gray-400"/>
                    <img
                            v-else
                            class="w-auto h-20 rounded-full"
                            :src="`${API_URL}${getUser.avatar}`"
                            :alt="getUser.email"
                    />
                </figure>
                <div class="info space-y-1">
                    <h4 class="text-sm font-medium text-gray-700">
                        <b>Email:</b>
                        {{ getUser.email }}
                    </h4>
                    <h4 class="text-sm font-medium text-gray-700">
                        <b>Used space:</b>
                        {{ formatBytes(getUser.usedSpace) }}
                    </h4>
                    <h4 class="text-sm font-medium text-gray-700">
                        <b>Disk space:</b>
                        {{ formatBytes(getUser.diskSpace) }}
                    </h4>
                </div>
            </div>
            <div class="flex mt-2 gap-1">
                <div class="upload">
                    <label class="py-2 block border-dashed border-2 text-sm border-blue-200 rounded-xl px-4"
                           for="upload"
                    >
                        Upload Avatar
                    </label>
                    <input
                            @change="uploadAvatarChange($event)"
                            accept="image/*"
                            class="hidden"
                            id="upload"
                            type="file"
                    />
                </div>
                <base-button
                        @click="deleteAvatarHandler"
                        v-if="getUser.avatar"
                        variant="danger"
                >
                    DeleteAvatar
                </base-button>
            </div>
        </div>
    </div>
</template>
